<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
</head>
<body>


  <div>
    <div class="profile-details">
    <img class="avatar-image" src="{{avatar}}" alt="">

      <h2>{{name}}</h2>
      <p>{{#address.city}}{{address.city}},{{/address.city}} {{address.country}} |
        {{#job}}
          {{job}}, {{company}}
        {{/job}}
        {{^job}}
          Available for hire!
        {{/job}}
      </p>
      <p>{{email}} | {{phone}}</>
  </div>

  <table>
      {{#university}}
      <tr>
          <th>Education</th>
          <td>{{university}}</td>
      </tr>
      {{/university}}

      <tr>
          <th>Skills</th>
          {{#skills}}
          <td>{{skills}}</td>
          {{/skills}}
      </tr>
    </table>
  </div>
<br>
<br>

<a href="/users">Return to Main Page</a>

  <script src="main.js" type="text/javascript"></script>
</body>
</html>
