body {
  font-family: sans-serif;

}

.flex_container {
  display: flex;
  flex-wrap: wrap;
}

.users {
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 2px grey;
  height: 300px;
  width: 300px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.profile-details {
  border: 2px solid lightgrey;
  box-shadow: 2px 2px 2px grey;
  width: 500px;
  height: 300px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
